<footer class="footer" *ngIf="shouldShowTodos()">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{ getTodosCount() }}</strong> item left</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a [class.selected]="isSelected(FilterType.All)"    (click)="filterAllTodos()">All</a>
    </li>
    <li>
      <a [class.selected]="isSelected(FilterType.Active)" (click)="filterActiveTodos()">Active</a>
    </li>
    <li>
      <a [class.selected]="isSelected(FilterType.Completed)" (click)="filterCompletedTodos()">Completed</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
</footer>
